<div class="container">
  <h4 class="mt-5 fw-bold">Completed booking({{completedArray.length}})</h4>
  <div *ngFor="let i of completedArray let x = index " class="card">

    <div class="card-header">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
          <h4>{{i.trainerName}}</h4>
          <p>Phone Number: {{i.phoneNumber}}</p>
          <p>Booking id:{{i.reservitionId}}</p>
          <p>Booking Price:{{i.totalPrice}}</p>
        </div>

      </div>
    </div>
    <div class="text-center p-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <p class="text-secondary">Date</p>
          <p class="fw-bold">{{i.reservitionDate}}</p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <p class="text-secondary">Start To End</p>
          <p class="fw-bold">{{i.reservitionTime}}
          :
          {{i.reservitionEndTime}}
          </p>
        </div>

        <div class=" col-lg-4 col-md-6 col-sm-12 mt-3 float-right" *ngIf="!i.isReviewed">
          <button (click)="AddReview(i.reservitionId,i.trainerName)" class="Primary-button" type="button">Add Review
          </button>
        </div>
        <div class=" col-lg-4 col-md-6 col-sm-12 mt-3 float-right" *ngIf="i.isReviewed">
          <button (click)="UpdateReview(i.reservitionId,i.trainerName,i.reviewID)" class="Primary-button" type="button">Update Review
          </button>
        </div>
        <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                    <p class="text-secondary">Booked by</p>
                    <p class="fw-bold">Frances Guerrero</p>
                </div> -->
      </div>
    </div>

  </div>

<div  *ngIf="completedArray.length == 0">
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <div class="row">
          <div class="col-12">
            <h4>Looks like you have never completed booked with Sportify</h4>
            <h1 class="fw-bold mb-5">When you complete Booking your trip will be shown here.
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
