<div class="aboutus-intro">

  <h1> You Ask any time <br> We always provide place for you</h1>
  <a routerLink="/Customer/home" class="btn Primary-button">Get Started</a>
</div>
<div class="aboutus-hero">
  <section class="aboutus-hero-image">
    <img src="assets/images/Aboutus/sport_side.jpg" alt="" srcset="">
  </section>
  <section class="aboutus-hero-text">
    <h3>About our website </h3>
    <h1>Explore At Different Way</h1>
    <p>Sportify is an extensive online platform for booking all types of sports <br>
      where you may reserve at any time, select the best offer for you, and see how much time
      is left for you.Our goal is to make it simpler for everyone <br> to participate in sports
      , which will increase the use of available facilities.
      <br> We are pleased to welcome newcomers and seasoned athletes alike to the sporting community of
      sportify.
      We understand that everyone has responsibilities such as work and family, accordingly we provide all of that for
      you to simply go to our website and make reservations whenever you want, choose the location that is closest to
      you, or the most popular location.
      These factors make up the basic foundation of sport. <br> <br>
      Sport is essential for creating friendship, sharing special moments, and improving wellbeing.
    </p>
  </section>

</div>
<div class="custom_container">
  <section class="aboutus-sevices">
    <div class="aboutus-service">
      <img src="assets/images/Aboutus/whatwedo.jpg" alt="">
      <h3>What do we do ?</h3>
      <p>users of our webiste can be transported to sporting venues
        where they can score goals or
        compete with friends for shuttlecocks</p>
    </div>
    <div class="aboutus-service">
      <img src="assets/images/Aboutus/mission.png" alt="">
      <h3>Our Mission</h3>
      <p>Our goal is to make it simpler for everyone
        to participate in sports at own terms. <br>
        your time is valuable, as is your health</p>
    </div>
    <div class="aboutus-service">
      <img src="assets/images/Aboutus/whywe.jpg" alt="">
      <h3>Why do we do ?</h3>
      <p> We are aware that balancing the demands of job, family, and personal responsibilities can be difficult.
        <br>, thus we offer services that meet your requirements.
      </p>
    </div>
  </section>
  <section class="whychooseus">
    <div class="whychooseus-text">
      <h1>Why you Choose Us</h1>
      <div class="accordion caccordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Find
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Finding the perfect place or trainer for you might be difficult; therefore, we aim to make easier this
              process and save you time in your search. We introduce you to places that are close to you or fit your
              preferences, and trainers who meet your needs.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Book
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Booking a place or a trainer with a schedule that works for you is difficult, so we assist you by finding
              places that meet your schedule or telling the trainer when you want to train and we will notify you.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Play
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              You're the hero, you've chosen the perfect location or trainer, you've booked everything with comfort, and
              now it's time to play. The stage is prepared for your ideal match, where aspirations can be realized or
              crushed. We want you to help us improve our process by reviewing your perfect match after you play it.
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="whychooseus-image">
      <img src="assets/images/Aboutus/whyus.jpg" alt="" srcset="">
    </div>
  </section>
  <h1 class="team-title">Our Team</h1>
  <section class="team">
    <section class="team-member">
      <img src="assets/images/Aboutus/Ahmed.jpeg" alt="" srcset="" class="img-fluid rounded-circle">
      <h3 class="member-name">Ahmed Mohammed</h3>
      <p class="member-job">Full-stack web developer using .NET</p>
    </section>
    <section class="team-member">
      <img src="../../../../assets/images/Aboutus/Marwa.jpg" alt="" srcset="" class="img-fluid rounded-circle">
      <h3 class="member-name">Marwa Mahmoud</h3>
      <p class="member-job">Full-stack web developer using .NET</p>
    </section>
    <section class="team-member">
      <img src="../../../../assets/images/Aboutus/Manar.jpeg" alt="" srcset="" class="img-fluid rounded-circle">
      <h3 class="member-name">Manar Mostafa</h3>
      <p class="member-job">Full-stack web developer using .NET</p>
    </section>
    <section class="team-member">
      <img src="assets/images/Aboutus/mayar.jpg" alt="" srcset="" class="img-fluid rounded-circle">
      <h3 class="member-name">Mayar Mohammed</h3>
      <p class="member-job">Full-stack web developer using .NET</p>
    </section>
    <section class="team-member">
      <img src="assets/images/Aboutus/mohammed.jpeg" alt="" srcset="" class="img-fluid rounded-circle">
      <h3 class="member-name">Mohammed Tarek</h3>
      <p class="member-job">Full-stack web developer using .NET</p>
    </section>
    <section class="team-member">
      <img src="assets/images/Aboutus/mostafa.jpeg" alt="" srcset="" class="img-fluid rounded-circle">
      <h3 class="member-name">Mostafa Gamal</h3>
      <p class="member-job">Full-stack web developer using .NET</p>
    </section>
  </section>
  <section class="aboutus-counters">
    <div class="aboutus-counter">
      <h1>{{count.customers}}</h1>
      <div class="line"></div>
      <h3>Clients</h3>
    </div>
    <div class="aboutus-counter">
      <h1>{{count.places}}</h1>
      <div class="line"></div>
      <h3>Playgrounds</h3>
    </div>
    <div class="aboutus-counter">
      <h1>{{count.trainers}}</h1>
      <div class="line"></div>
      <h3>Trainers</h3>
    </div>
    <div class="aboutus-counter">
      <h1>{{count.placeBooking+count.trainerBooking}}</h1>
      <div class="line"></div>
      <h3>Booking</h3>
    </div>
  </section>

</div>
<section class="Contactus">
  <h1>Need Any Help Then Contact Us</h1>
  <p>We here to make your life simpler and save your time so you can focus on daily life so if there is any issue or
    question or should you need more guidance. dont heitat to contact us </p>
  <a class="Second-button btn-contact" routerLink="/Customer/contactus"> Contact-us</a>
</section>
