<div class="container mt-5">
  <h2 class="fw-bold">My Place Bookings</h2>
  <hr />

  <ul class="nav nav-tabs p-3">

    <li class="active me-5"><a style="color: var(--Primary-light-color);" routerLink="UpcomingBooking"
        data-toggle="tab"><i class="fa fa-bag-shopping mr-3"></i>Upcoming Booking</a></li>

    <li class="me-5"><a style="color: var(--Primary-light-color);" routerLink="CanceledBooking" data-toggle="tab"><i
          class="fa fa-xmark mr-3"></i>Canceled
        Booking</a></li>

    <li class="me-5"><a style="color: var(--Primary-light-color);" routerLink="CompletedBooking" data-toggle="tab"><i
          class="fa fa-check-to-slot mr-3"></i>Completed Booking</a></li>

  </ul>

  <div class="tab-content">
<router-outlet></router-outlet>
  </div>
</div>
