
.top {
    height: 40vh;
    width: 100%;
    background-color: var(--Primary-Dark-Color);
    gap: 3%;
    display: block;
    justify-content: center;
}
button:disabled{
  cursor: not-allowed;
}
/* .payment__form {
    margin-top: 15%;
}

.booking__form {
    margin-top: 10%;
    margin-right: 10%;
} */

.quantityall{
    display: block;
}

.forms{
display: flex;
gap: 20px;
justify-content: center;
justify-items: center;
margin-top: 40px;
}
.example {
    width: 80%;
    margin: 50px auto 30px auto;
}

.progress__container {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    line-height: 10px;
}
.progress__container p{
    color: white;
    font-size: 18px;
}
.progress__bar {
    height: 10px;
    background-color: var( --Primary-lighter-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
}

.progress__bar--failure {
    background-color: red;
}

.progress {
    position: relative;
height: 10px;
    overflow: visible;

}

.step {
    position: absolute;
    top: 10px;
    transform: translate(-50%, 0);
    text-align: center;
}

.step--first {
    left: 0%;
    transform: none;
    text-align: left;
}

.step--last {
    right: 0%;
    transform: none;
    text-align: right;
}

.step__content {
    display: inline-block;
    margin-top: 10px;

}

.step__title {
    font-size: 16px;
    color: white;
}

.step__title--status-icon {
    font-size: 20px;
    font-weight: bold;
    border-radius: 14px;
    position: absolute;
    height: 20px;
    width: 20px;
    top: -15.5px;
    left: 50%;
    color: FFCC12;
    background-color: white;
    transform: translate(-50%, 0);
    padding: 10px;
    text-align: center;
}

.step__title--status-icon-completed {
    color: white;
    background-color: green;
}

.step__title--status-icon--first {
    left: -2px;
    transform: none;
}

.step__title--status-icon--last {
    left: auto;
    right: -2px;
    transform: none;
    color: #10772A;
}

.modal1 {
    width: fit-content;
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
    max-width: 450px;
    margin-left: 10%;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.payment--options {
    width: calc(100% - 40px);
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: 20px;
    padding: 10px;
}

.payment--options button {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    padding: 0;
    border: 0;
    outline: none;
}

.payment--options button svg {
    height: 18px;
}

.payment--options button:last-child svg {
    height: 22px;
}

.separator {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    color: #8B8E98;
    margin: 0 10px;
}

.separator p {
    word-break: keep-all;
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    margin: auto;
}

.separator .line {
    display: inline-block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
    margin: auto;
}

.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.split {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 15px;
}

.split input {
    width: 100%;
}

.input_label {
    font-size: 14px;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #F2F2F2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.purchase--btn {
    height: 55px;
    background: #F2F2F2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    background: var(--Primary-Dark-Color);
    box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px #FFFFFF, #ECF39E;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* .input_field[type=number] {
    -moz-appearance: textfield;
  } */

.master-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.card {
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.title {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #efeff3;
    font-weight: 700;
    font-size: 15px;
    color: #63656b;
}
.name{
  padding-block: 10px;
  padding-left: 20px;
  text-align: center;
  font-size: 18px !important;
  border-bottom: 1px solid #efeff3;
}

/* cart */
.cart {
    border-radius: 19px 19px 7px 7px;
}

.cart .products {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cart .products .product {
    display: grid;
    grid-template-columns: 60px 1fr 80px 1fr;
    gap: 10px;
}

.cart .products .product span {
    font-size: 15px;
    font-weight: 600;
    color: #47484b;
    margin-bottom: 8px;
    display: block;
}

.cart .products .product p {
    font-size: 14px;
    font-weight: 600;
    color: #7a7c81;
}

.cart .quantity {
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 7px;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}

.cart .quantity label {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    font-size: 18px;
    font-weight: 700;
    color: #47484b;
}

.cart .quantity button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    background-color: transparent;
    padding-bottom: 2px;
}

.card .small {
    font-size: 15px;
    margin: 0 0 auto auto;
}

.card .small sup {
    font-size: 14px;
}

/* coupons */
.coupons {
    border-radius: 7px;
}

.coupons form {
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 10px;
    padding: 10px;
}

.input_field {
    width: auto;
    height: 36px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.coupons form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 36px;
    background: var(--Primary-Dark-Color);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 5px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
}

/* Checkout */
.checkout {
    border-radius: 9px 9px 19px 19px;
}

.checkout .details {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    gap: 5px;
}

.checkout .details span {
    font-size: 13px;
    font-weight: 600;
}

.checkout .details span:nth-child(odd) {
    font-size: 14px;
    font-weight: 700;
    color: #707175;
    margin: auto auto auto 0;
}

.checkout .details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color: #47484b;
    margin: auto 0 auto auto;
}

.checkout .checkout--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #efeff3;
}

.price {
    position: relative;
    font-size: 22px;
    color: #2B2B2F;
    font-weight: 900;
}

.price sup {
    font-size: 13px;
}

.price sub {
    width: fit-content;
    position: absolute;
    font-size: 14px;
    color: #5F5D6B;
    bottom: 5px;
    display: inline-block;
}

.checkout .checkout-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 36px;
    background: var(--Primary-Dark-Color);
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

/*TABLET SIZE*/
@media (max-width:900px) {

.master-container{
    margin-left: 10%;
}
.progress__bar{
    width: 100%;
}
.forms{
    gap: 10px;
    justify-content: flex-start;
}

}

/*MOBILE SIZE*/
@media (max-width:590px) {
    .top{
        display: block;
        justify-content: center;
        justify-items: center;
    }
    .forms{
        display: block;
    }
    .progress__container  {
        width: 100%;


    }
    .progress__bar{
        width: 100%;
    }

    .step__title--status-icon--last{
        left: 95%;
    }
    .booking__form{
        margin-left: 5%;
        margin-top: 5%;
    }

}



