<div class="header">
  <div class="left">
    <h1>Dashboard</h1>
    <!-- <ul class="breadcrumb">
      <li><a href="#">
          Analytics
        </a></li>

      <li><a href="#" class="active">Shop</a></li>
    </ul> -->
  </div>
  <a href="#" class="report">
    <i class='bx bx-cloud'></i>
    <span>Go Home</span>
  </a>
</div>

<!-- Insights -->
<ul class="insights">
  <li>
    <i class='bx bx-user'></i>
    <span class="info">
      <h3>
        {{AdminCount.customers}}
      </h3>
      <p>Customers</p>
    </span>
  </li>
  <li><i class='bx bx-user'></i>
    <span class="info">
      <h3>
        {{AdminCount.owners}}
      </h3>
      <p>Owners</p>
    </span>
  </li>
  <li><i class='bx bx-user'></i>
    <span class="info">
      <h3>
        {{AdminCount.trainers}}
      </h3>
      <p>Trainers</p>
    </span>
  </li>
  <li><i class='bx bx-home'></i>
    <span class="info">
      <h3>
        {{AdminCount.places}}
      </h3>
      <p>Total Places</p>
    </span>
  </li>
  <li><i class='bx bx-calendar-check'></i>
    <span class="info">
      <h3>
        {{AdminCount.placeBooking}}
      </h3>
      <p>Total Place's Booking </p>
    </span>
  </li>
  <li><i class='bx bx-dollar-circle'></i>
    <span class="info">
      <h3>
        $ {{AdminCount.placeTotalEarnings}}
      </h3>
      <p>Total Earnings From Places </p>
    </span>
  </li>
</ul>
<ul class="insights insights2">
  <li><i class='bx bx-calendar-check'></i>
    <span class="info">
      <h3>
        {{AdminCount.trainerBooking}}
      </h3>
      <p>Total Trainer's Booking </p>
    </span>
  </li>
  <li><i class='bx bx-dollar-circle'></i>
    <span class="info">
      <h3>
        ${{AdminCount.trainerTotalEarnings}}
      </h3>
      <p>Total Earnings From Trainers</p>
    </span>
  </li>
</ul>
<!-- End of Insights -->


