* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

img {
    border-radius: 0.5rem;
}

.card-title {
    background-color: var(--Primary-Dark-Color);
    color: var(--Secondary-dark-color);
    padding: 10px;
}

.card-body {
    padding: 0;
}

h1 {
    color: var(--Primary-Dark-Color);
    font-size: var(--font-size-head);
    font-weight: var(--font-weight-head1);
}

h2 {
    color: var(--Primary-light-color);
    font-size: var(--font-size-subhead);
    font-weight: var(--font-weight-head2);
}

h3 {
    color: var(--Primary-lighter-color);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-head3);
}

h4 {
    color: var(--Primary-lighter-color);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-head3);
}

h5 {
    color: var(--Primary-Dark-Color);
    font-size: var(--font-size-subtext);
    font-weight: var(--font-weight-text2);
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    position: relative;


}


.scroll-content {
    display: flex;
    width: fit-content;

    gap: 5px;

    margin-bottom: 5px;

}


.card2 {
    width: fit-content;
    background-color: #f0f0f0;

    border-radius: 10px;

    text-align: center;
    padding: 10px;

    margin: 0;
    box-sizing: border-box;
    height: 80px;
}


.card-content {


    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-text {
    font-size: medium;
}

.sc-details:hover {
    background-color: var(--Secondary-dark-color);
}
.disabled{
  cursor: not-allowed;
}
.available h5{
    color: white !important;
}
.available{
  background-color:var(--Primary-lighter-color);

}
.available:hover {
  background-color: var(--Secondary-dark-color);
}
.samiAvaailable{
  background-color:var(--Secondary-yellow-color)
}
.placeSchedule{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.placeScheduleHead{
  width: 20%;
}
.placeScheduleData{
 padding-top: 5px;
  width: 80%;
  overflow-x: scroll;
}
.NoWork{
  height: 80px;
  padding-block: 3px ;
}
.schedule-head{
 padding-block: 12px ;
 /* height: 80px; */
}
.schedule-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
   padding-block: 5px ;
}

@media screen and (max-width: 1100px) {

    #wh {
        display: block;
        text-align: center;

    }
}

@media screen and (max-width: 950px) {
    .schedule-text {
        font-size: small;
    }
}

@media screen and (max-width: 500px) {
    .schedule-text {
        font-size: x-small;
    }
}
