nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    background-color: var(--background-color);
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links li {
    margin: 25px 10px 10px 10px;
    padding: 10px 10px;
}

.links li a {
    color: var(--Primary-Dark-Color);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-head3);

}

.links li a:hover {
    color: var(--Primary-lighter-color);
}

.links li {
    position: relative;


}

.links li::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 10px;
    margin-top: 35px;
    background-color: #10772A;
    transition: all .6s;
}

.links li:hover::after {
    width: 50px;
}

.last {
    display: block;
}

.last2 {
    display: block;
}

.logo {
    width: 17%;
    padding: 0px 0px 10px 0px;
}

.logo img {
    width: 100%;
    background-color: white;
}

.header {
    height: 15vh;
}

#check {
    display: none;
}

nav .dropdown {
    display: none;
}


@media screen and (max-width:480px) {

    .last {
        display: none;
    }

    .last2 {
        display: none;
    }

    nav {
        height: 12vh;
    }

    .logo {
        width: 30% !important;
        margin-left: 5px !important;
    }

    .Primary-button {
        font-size: 10px !important;
        width: 70px !important;
        height: 35px;
        position: relative;
        right: 20px !important;
    }

    .Second-button {
        width: 70px !important;
        font-size: 10px !important;
        height: 35px;
        position: relative;
        right: 20px;
    }


    nav .dropdown {
        display: block;
    }

    .dropdown i {
        font-size: 30px;
        color: black;
    }

    .dropdown i:hover {
        color: #429453;
    }

    .dropdown-men {
        width: 100% !important;

    }

    nav {
        justify-content: space-around;
    }


}



@media screen and (max-width:840px) {
    .last {
        display: none;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
    }

    .buttons {
        position: relative;
        left: 0px;
        display: flex;
        align-items: center;
    }

    .links li {
        margin: 25px 10px 10px 10px;
        padding: 10px 10px;
    }

    .logo {
        padding: 0px 0px 10px 0px;
        margin-left: 20px;
        width: 18%;
    }

    .Primary-button {
        font-size: 15px;
        width: 100px;
        margin-right: 10px;
    }

    .Second-button {
        width: 100px;
        font-size: 15px;

    }
}

/* Hero section */


.card {
    position: absolute;
    top: 200px;
    left: 53%;
    height: 50vh;
}

.card-body {
    text-align: center;
}

.card-body span {
    color: var(--Primary-light-color);
}

.card-body h1 {
    font-weight: 900;
}

.card-btn {
    margin: 25px 0px 0px 0px;
}

#prim {
    width: 100% !important;
    border-radius: 5px;
    height: 50px;
    font-size: var(--font-size-text);
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 50px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;

}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}

.hero {
    height: 90vh;
    background-image: url("/assets/images/footbalcopy.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-header {
    height: 11vh;
    background-color: black;
}

.break {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 2fr;
    justify-content: space-around;
    align-items: center;
}

.element {
    display: flex;
    align-items: center;

}

.element i {
    padding: 10px;
    margin: 10px;
    font-size: 35px;
    color: var(--Primary-lighter-color);
}

.element p {
    margin-top: 15px;
    font-size: 20px;
    color: var(--background-color);
}

#ficon {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 50px;
}

@media screen and (max-width:840px) {
    .card {
        left: 40% !important;
        height: 50vh;
    }

    @media screen and (max-width:480px) {
        .card {
            width: 100%;
            left: 0% !important;
            top: 89px;
            box-shadow: none !important;
            border: none;
        }

        .break {
            grid-template-columns: 2fr 1fr 2fr !important;
        }

        .sub-header {
            position: relative;
            top: 90px;

        }

        #prim {
            position: relative;
            left: 1px;
            font-size: 20px !important;
        }

        .card-body {
            box-shadow: none;
        }

        .hero {
            height: 50vh;
            background-image: none;
        }

        .sub-header {
            height: 9vh !important;
        }

        #el1 {
            display: none;
        }

        #el1i {
            display: none;
        }

        .element p {
            margin-top: 10px !important;
            font-size: 15px !important;
        }

        .element i {
            padding: 5px;
            margin: 5px;
            font-size: 25px;
            color: var(--Primary-lighter-color);
        }

        #ficon {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
            margin-left: 40px !important;
        }

    }

    @media screen and (max-width:840px) {

        .break {

            justify-content: space-between;
            grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
        }

        .element p {
            margin-top: 15px;
            font-size: 15px;
        }

        .sub-header {
            height: 13vh;
        }

        .element i {
            padding: 10px;
            margin: 10px;
            font-size: 25px;
        }
    }


}

/* About Us Section */

.About-us {
    height: 100vh;
}

.break-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 200px;
    align-items: center;
    position: absolute;
}

.part {
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
}

.part hr {
    width: 70px;
}

.part h4 {
    margin-left: 20px;
    font-weight: 500;
}

.text h1 {
    font-weight: 900;
}

.text span {
    color: var(--Primary-light-color);
}

.text p {
    font-size: 15px;
}

.checking {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.checking p {
    font-size: 16px;
    margin-top: 10px;
}

.checking i {
    margin-right: 15px;
    font-size: 20px;
}

#about-button {
    margin-top: 30px !important;
    border-radius: 5px;

}

.back-ground {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: var(--Primary-light-color);
}

.slider {
    height: 425px;
    width: 100%;
}

.photos .carousel-inner {
    height: 420px;
    width: 420px;
}

.photos {
    position: relative;
    bottom: 160px;
}

.About-us #carouselExampleInterval {
    position: relative;
    right: 40px;
    bottom: 40px;
    transition: all .2s;
}

.About-us .carousel-item:hover {
    transform: scale(0.9);
}

.item,
img {
    height: 100% !important;
    width: 100% !important;

}

.About-us .container {
    margin-top: 100px;
}

@media screen and (max-width:480px) {
    .About-us {
        height: 95vh !important;
    }

    .break-about {
        grid-template-columns: 1fr !important;
        gap: 20px !important;
    }

    .part hr {
        width: 40px !important;
    }

    .photos {
        display: none;
    }

    #about-button {
        position: relative;
        left: 10px;
        width: 120px !important;
        height: 40px;
        font-size: 15px !important;
    }

    .part {
        position: relative;
        top: 20px;
    }

    .part h4 {
        margin-left: 10px !important;
        font-size: 20px !important;

    }


}

@media screen and (max-width:840px) {
    .break-about {
        grid-template-columns: 2fr 2fr;
        gap: 80px;
    }

    .photos .carousel-inner {
        height: 320px;
        width: 320px;
    }

    .back-ground {
        position: absolute;
        width: 300px;
        height: 300px;

    }

    .checking {
        margin-top: 10px;
    }

    .photos {

        bottom: 120px;
    }

    .About-us {
        height: 110vh;
    }

}


/* Category Section*/

.cate-text {
    text-align: center;
    margin-bottom: 40px;
    position: relative;

}

.cate-text span {
    color: var(--Primary-light-color);
}

.cate-text h1 {
    font-weight: 900;
}

.cate-text h1::after {
    content: "";
    width: 150px;
    height: 2px;
    position: absolute;
    left: 37%;
    margin-top: 60px;
    background-color: green;
}

.category {
    height: 120vh;
}

.category-space {
    width: 350px;
    height: 430px;
}

.category-space img {
    border-radius: 20px;
    transition: 0.3s;
}

.category-space img:hover {
    box-shadow: 6px 16px 20px #999;

    transform: translateY(-2px);
}

.categ-def h3 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: center;
}

.categ-def {
    position: relative;
    bottom: 140px;

}

.start-cate {
    display: none;
}

.categ-def i {
    position: absolute;
    top: 70px;
    left: 65%;
    font-size: 30px;
    color: #498647;
}

.categ-def p {
    position: absolute;
    top: 70px;
    left: 30%;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.categ-def h3::after {
    content: "";
    width: 90px;
    height: 3px;
    position: absolute;
    left: 36%;
    margin-top: 50px;
    background-color: rgb(46, 172, 46);
}

@media screen and (max-width: 840px) {
    .category .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .categ-def h3 {
        font-size: 25px;
    }

    .categ-def {
        bottom: 80px;
    }

    .category-space {
        width: 225px;
        height: 300px;
    }

    .categ-def h3::after {
        width: 60px;
        left: 35%;
        margin-top: 40px;
    }

    .categ-def p {
        top: 50px;
        font-size: 14px;
    }

    .categ-def i {
        top: 52px;
        font-size: 20px;
        left: 70%;
    }

    .category {
        height: 90vh;
    }

    @media screen and (max-width: 480px) {
        #carouselExampleIndicators {
            display: none;
        }

        .start-cate {
            display: block;
        }

        .one {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-bottom: 50px;
            margin-top: 90px;
            gap: 15px;


        }

        .two {
            display: grid;
            gap: 15px;

            grid-template-columns: 1fr 1fr 1fr;
        }

        .three {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr !important;
            margin-top: 50px;
            gap: 15px;
        }

        .start-cate {
            padding-left: 15px;
        }

        .card-category p {
            margin-top: 5px !important;
            margin-bottom: 5px !important;
        }

        .card-category i {
            text-align: center !important;
            padding: 4px;
            font-size: 25px;

        }

        .card-category {
            height: 17vh;
            width: 130px;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

        }

        .category {
            height: 105vh;
        }

        .card-category a {
            color: var(--Primary-light-color);
        }

        .card-category a i {
            font-size: 15px;
        }


    }


}

/* SERVICES SECTION */
.Service {
    height: 80vh;
}

.serv-text {
    text-align: center;
    margin-bottom: 40px;
    position: relative;

}

.serv-text span {
    color: var(--Primary-light-color);
}

.serv-text h1 {
    font-weight: 900;
}

.serv-text h1::after {
    content: "";
    width: 150px;
    height: 2px;
    position: absolute;
    left: 40.5%;
    margin-top: 60px;
    background-color: green;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.our_service {
    text-align: center;
}

.our_service i {
    font-size: 40px;
    padding: 20px;
}

.our_service h3 {
    font-weight: 800;
    padding: 0px 5px 10px 5px;
    margin-bottom: 20px;

}

.our_service h3::after {
    content: "";
    width: 80px;
    height: 4px;
    position: absolute;
    margin-top: 40px;
    margin-left: -75px;
    background-color: green;

}

.our_service p {
    line-height: 30px;
}

@media screen and (max-width:480px) {
    .serv-text {
        margin-bottom: 10px !important;
    }

    .serv-text h1::after {

        left: 30%;
        margin-top: 60px;

    }

    .our_service h3::after {
        margin-top: 40px;
        margin-left: -60px;
        width: 60px;
        background-color: green;

    }

    .our_service p {
        margin-top: 30px;
        line-height: 30px;
        font-size: 15px;
    }

    .services {
        grid-template-columns: 1fr;
        margin-top: 60px;
    }

    .Service {
        height: 130vh !important;
    }

    .our_service i {

        display: none;
    }

    .our_service {
        margin-bottom: 0px !important;

    }

    .our_service h3 {
        font-weight: 600;
        padding: 0px 5px 5px 5px;
        margin-bottom: 10px;

    }

}

@media screen and (max-width:840px) {
    .services {
        gap: 20px;
    }

    .our_service {
        margin-bottom: 50px;

    }

    .Service {
        height: 90vh;
    }


}


.testimonials {
    height: 110vh;
}

.img-container {
    height: 60vh;
    background-image: url("/assets/lmages/hero.jpeg");
}

.comment {
    text-align: center;
    width: 350px !important;
    position: relative;
    top: 250px;
    height: 290px;
    border-radius: 20px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.comment i {
    font-size: 30px;
    margin-bottom: 20px;
    color: #429453;
}

.comment p {
    font-size: 15px;
    margin-bottom: 20px;
}

.comment img {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;

}

.comment .name {
    font-size: 20px;
    padding: 10px;
    color: #9b9898;
}

#vanish {
    display: block;
}

.customer {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 20px;
}

@media screen and (max-width:480px) {
    .customer {
        grid-template-columns: 3fr !important;

    }

    #vanish2 {
        display: none;
    }

    #only {
        position: relative !important;
        left: 10% !important;

    }

    .testimonials {
        height: 115vh;
    }


}

@media screen and (max-width:840px) {
    .customer {
        grid-template-columns: 1fr 1fr;
    }

    #vanish {
        display: none;
    }

    .img-container img {
        background-repeat: no-repeat;
        background-size: cover;
    }

}

/* Counter */


.Counter {
    height: 100vh;
}

.counter_break {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cubes-break {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cube {
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
    width: 75%;
}

.cube i {
    font-size: 30px;
    padding: 5px 0px 20px 0px;
}

.image-count {
    width: 70%;
    position: relative;
    bottom: 30px;
    left: 20%;
    padding: 0px 10px 30px 0px;
}

.background-count {
    margin-top: 83px;

    text-align: center;
    width: 80%;
}

.background-count h2 {
    font-weight: 800;
    padding: 10px 0px 30px 0px;
    line-height: 50px;
}

.titles {
    display: flex;
    align-items: center;
}

.titles p {
    font-size: 20px;
    padding: 10px;

}

.cube-des {
    font-size: 40px;
    font-weight: 800;
}

.background-count span {
    color: var(--Primary-light-color);

}

@media screen and (max-width:840px) {
    .background-count {
        margin-top: 20px;

    }

    .background-count h2 {
        padding: 10px 0px 30px 0px;
        line-height: 40px;
        padding: 5px;
    }

    .cube i {
        font-size: 30px;
        padding: 0px 0px 20px 0px;
    }

    .cube {
        height: 85%;
        width: 85%;
        padding: 10px;
    }

    .cube-des {
        font-size: 30px;
    }
}

@media screen and (max-width:480px) {

    .cube i {
        font-size: 20px;
        padding: 0px 0px 10px 0px;
    }

    /* .cube{
height: 60%;
    width: 60%;
    padding: 5px;
  } */
    .cube-des {
        font-size: 20px;
    }

    .background-count {
        display: none;
    }

    .first-sec .cubes-break {
        grid-template-columns: 1fr;
        position: relative;
        top: 120px;
    }

    .second-sec .cubes-break {
        grid-template-columns: 1fr;
        position: relative;
        bottom: 103px;
    }

    .image-count img {
        position: relative;
        right: 140px;
        bottom: 90px;
    }

    .image-count {
        width: 100%;
    }

    .Counter {
        margin-top: 100px;
    }

}

/* ////////////////BLOG SECTION ////////////////*/
.blogs {
    height: 150vh;
}

.back-view {
    position: relative;
    top: 27%;
    width: 100%;
    height: 30vh;
    background-color: #77c074;
}

.blog-break {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
    border-radius: 20px;
}

.cards {
    padding: 10px 20px;
    width: 85%;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.card-details {
    margin-top: 20px;
}

.card-details .Primary-button {
    padding: 5px !important;
    border-radius: 10px !important;
    border: 1px solid #1DB233;
}

.card-details p {
    margin-top: 25px;
}

.card-details h3::after {
    content: "";
    width: 100px;
    height: 4px;
    position: absolute;
    left: 7%;
    margin-top: 40px;
    background-color: var(--Primary-light-color);

}

#first {
    position: relative;
    bottom: 43%;

}

#sec {
    position: relative;
    bottom: 30%;

}

#third {
    position: relative;
    bottom: 50px;

}

@media screen and (max-width:840px) {

    .blog-break {
        gap: 10px;
    }

    .cards {
        width: 90%;
        height: 70vh;
    }

    .card-details {
        margin-top: 10px;
    }

    .card-details h3 {
        font-size: 20px;
    }

    #first {
        bottom: 35%;

    }

    #sec {
        position: relative;
        bottom: 25%;

    }

    #third {
        bottom: 10%;

    }
}

@media screen and (max-width:480px) {

    #sec {
        display: none;
    }

    #third {
        display: none;
    }

    .blog-break {
        grid-template-columns: 1fr;
    }

    #first {
        position: relative;
        bottom: 25% !important;
        left: 20px;
    }

    .card-details h3::after {

        width: 170px;

        position: absolute;
        left: 5%;

    }

    .cards {
        height: 75vh;
    }

    .card-details p {
        margin-top: 35px;
    }

    #first .Primary-button {
        padding: 10px !important;
        position: relative;
        left: 0px;
        width: 180px !important;
        font-size: 15px !important;
    }

}

/* /////////////FOOTER///////// */
.footer {
    height: 85vh;
    /* background-color: var(--Primary-Dark-Color) ; */
    background-color: var(--Primary-Dark-Color);

}

.footer-view {
    width: 70%;
    height: 35vh;
    border-radius: 25px;
    position: relative;
    left: 15%;
    bottom: 25%;
    background-color: #ECF39E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 5px 10px 0px rgba(133, 133, 133, 0.5);

}

.footer-btn .Second-button {
    padding: 15px;
    border-radius: 20px;
}

.footer-text h2 {
    line-height: 50px;
}

.footer-text h2 {
    color: rgb(74, 212, 104);
    font-weight: 800;
}

span {
    color: #429453;

}


.colomn-break {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* .column ul li{
    margin-top: 5px 0px 5px 0px;
    padding: 5px 0px 5px 0px;
} */
.column h6 {
    color: rgb(218, 210, 105);

}

.column a {
    color: beige;
}

.column a:hover {
    color: #81da7e;
}

#col1 a:hover::after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    left: 29%;
    margin-top: 30px;
    background-color: rgb(245, 253, 245);
    transition: all .8s;
}

#col1 a:hover::after {
    width: 50px;
}



#col2 a:hover::after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    left: 50.8%;
    margin-top: 30px;
    background-color: rgb(245, 253, 245);
    transition: all .8s;
}

#col2 a:hover::after {
    width: 50px;
}



#col3 a:hover::after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    left: 72.7%;
    margin-top: 30px;
    background-color: rgb(245, 253, 245);
    transition: all .8s;
}

#col3 a:hover::after {
    width: 50px;
}

.copy-right {
    display: grid;
    grid-template-columns: 3fr 3fr;
    align-items: center;
}

.copy {
    color: #ECF39E;
    font-size: 15px;
    padding: 20px 15px 15px 15px;

}

.icons {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.icons i {
    background-color: #d2f3a8;
    padding: 15px;
    color: #429453;
    border-radius: 50%;
}

.icons i:hover {
    color: #d2f3a8;
    background-color: #429453;

}

@media screen and (max-width:480px) {

    #col1 a:hover::after {
        left: 36% !important;
        margin-bottom: 5px !important;
    }

    #col2 a:hover::after {
        left: 70% !important;
        margin-bottom: 5px !important;

    }

    .footer-view {
        padding: 30px !important;
    }

    .footer-btn .Second-button {
        width: 70px !important;
    }

    .copy-right {
        grid-template-columns: 3fr;
    }

    .footer {
        height: 88vh;
        background-color: var(--Primary-Dark-Color);

    }

    .copy {
        position: relative;
        left: 60px;
        padding: 20px 15px 5px 15px;

    }

    .icons {
        font-size: 15px;
    }

    #col3 {
        display: none;
    }

    .column a {
        margin-top: 5px;
        padding: 2px;
    }

    .colomn-break {
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        bottom: 50px;
    }
}