.vs
bin 
obj
/.vs/ProjectEvaluation/sportify_back.metadata.v7.bin
/.vs/ProjectEvaluation/sportify_back.projects.v7.bin
/.vs/Sportify_Back/DesignTimeBuild/.dtbcache.v2
/.vs/Sportify_Back/v17/.futdcache.v2
/.vs/Sportify_Back/v17/.suo
/Repository/bin/Debug/net7.0/Repository.dll
/Repository/bin/Debug/net7.0/Repository.pdb
/Repository/bin/Debug/net7.0/ViewModel.dll
/Repository/bin/Debug/net7.0/ViewModel.pdb
/Repository/obj/Debug/net7.0/ref/Repository.dll
/Repository/obj/Debug/net7.0/refint/Repository.dll
/Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
/Repository/obj/Debug/net7.0/Repository.csproj.CoreCompileInputs.cache
/Repository/obj/Debug/net7.0/Repository.dll
/Repository/obj/Debug/net7.0/Repository.pdb
/ViewModel/bin/Debug/net7.0/ViewModel.dll
/ViewModel/bin/Debug/net7.0/ViewModel.pdb
/ViewModel/obj/Debug/net7.0/ref/ViewModel.dll
/ViewModel/obj/Debug/net7.0/refint/ViewModel.dll
/ViewModel/obj/Debug/net7.0/ViewModel.csproj.AssemblyReference.cache
/ViewModel/obj/Debug/net7.0/ViewModel.csproj.CoreCompileInputs.cache
/ViewModel/obj/Debug/net7.0/ViewModel.dll
/ViewModel/obj/Debug/net7.0/ViewModel.pdb
/webAPP/bin/Debug/net7.0/webAPP.dll
/webAPP/bin/Debug/net7.0/webAPP.pdb
/webAPP/obj/Debug/net7.0/ref/webAPP.dll
/webAPP/obj/Debug/net7.0/refint/webAPP.dll
/webAPP/obj/Debug/net7.0/webAPP.csproj.AssemblyReference.cache
/webAPP/obj/Debug/net7.0/webAPP.csproj.CoreCompileInputs.cache
/webAPP/obj/Debug/net7.0/webAPP.dll
/webAPP/obj/Debug/net7.0/webAPP.pdb
/.vs/ProjectEvaluation/sportify_back.metadata.v7.bin
/.vs/Sportify_Back/DesignTimeBuild/.dtbcache.v2
/.vs/Sportify_Back/v17/.futdcache.v2
/.vs/Sportify_Back/v17/.suo
/Repository/bin/Debug/net7.0/Models.dll
/Repository/bin/Debug/net7.0/Models.pdb
/Repository/bin/Debug/net7.0/Repository.dll
/Repository/bin/Debug/net7.0/Repository.pdb
/Repository/bin/Debug/net7.0/ViewModel.dll
/Repository/bin/Debug/net7.0/ViewModel.pdb
/Repository/obj/Debug/net7.0/ref/Repository.dll
/Repository/obj/Debug/net7.0/refint/Repository.dll
/Repository/obj/Debug/net7.0/Repository.assets.cache
/Repository/obj/Debug/net7.0/Repository.csproj.AssemblyReference.cache
/Repository/obj/Debug/net7.0/Repository.csproj.FileListAbsolute.txt
/Repository/obj/Debug/net7.0/Repository.dll
/Repository/obj/Debug/net7.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
/Repository/obj/Debug/net7.0/Repository.pdb
/Repository/obj/project.assets.json
/Repository/obj/Repository.csproj.nuget.dgspec.json
/Repository/obj/project.nuget.cache
/Repository/obj/Repository.csproj.nuget.g.props
/Sportify/bin/Debug/net7.0/Models.dll
/Sportify/bin/Debug/net7.0/Models.pdb
/webAPP/obj/webAPP.csproj.nuget.g.props
/webAPP/obj/Debug/net7.0/refint/webAPP.dll
/webAPP/bin/Debug/net7.0/Models.pdb
/webAPP/bin/Debug/net7.0/webAPP.pdb
/webAPP/obj/Debug/net7.0/webAPP.assets.cache
/webAPP/obj/Debug/net7.0/webAPP.csproj.AssemblyReference.cache
/webAPP/obj/Debug/net7.0/webAPP.csproj.CoreCompileInputs.cache
/webAPP/obj/Debug/net7.0/webAPP.csproj.FileListAbsolute.txt
/webAPP/obj/project.nuget.cache
/webAPP/obj/Debug/net7.0/webAPP.pdb
/webAPP/obj/webAPP.csproj.nuget.dgspec.json
/webAPP/obj/Debug/net7.0/webAPP.genruntimeconfig.cache
/webAPP/obj/Debug/net7.0/webAPP.GeneratedMSBuildEditorConfig.editorconfig
/webAPP/obj/project.assets.json
/ViewModel/obj/project.assets.json
/ViewModel/obj/project.nuget.cache
/ViewModel/obj/ViewModel.csproj.nuget.dgspec.json
/ViewModel/obj/ViewModel.csproj.nuget.g.props
/ViewModel/obj/Debug/net7.0/ViewModel.assets.cache
/ViewModel/obj/Debug/net7.0/ViewModel.csproj.AssemblyReference.cache
/ViewModel/obj/Debug/net7.0/ViewModel.csproj.CoreCompileInputs.cache
/ViewModel/obj/Debug/net7.0/ViewModel.GeneratedMSBuildEditorConfig.editorconfig
/ViewModel/obj/Debug/net7.0/ViewModel.pdb
/Sportify/obj/Debug/net7.0/Models.assets.cache
/Sportify/obj/Debug/net7.0/Models.csproj.CoreCompileInputs.cache
/Sportify/obj/Debug/net7.0/Models.csproj.AssemblyReference.cache
/Sportify/obj/Debug/net7.0/Models.csproj.FileListAbsolute.txt
/Sportify/obj/Debug/net7.0/Models.GeneratedMSBuildEditorConfig.editorconfig
/Sportify/obj/Debug/net7.0/Models.genruntimeconfig.cache
/Sportify/obj/Debug/net7.0/Models.pdb
/Sportify/obj/Models.csproj.nuget.dgspec.json
/Sportify/obj/Models.csproj.nuget.g.props
/Sportify/obj/project.assets.json
/Sportify/obj/project.nuget.cache
/.vs/ProjectEvaluation/sportify_back.projects.v7.bin
/ViewModel/bin/Debug/net7.0/ViewModel.pdb
/ViewModel/obj/Debug/net7.0/ViewModel.csproj.FileListAbsolute.txt
/Sportify/obj/Debug/net7.0/ref/Models.dll
/Sportify/obj/Debug/net7.0/refint/Models.dll
/Sportify/obj/Debug/net7.0/Models.dll
/ViewModel/bin/Debug/net7.0/Models.dll
/ViewModel/bin/Debug/net7.0/Models.pdb
/ViewModel/bin/Debug/net7.0/ViewModel.dll
/ViewModel/obj/Debug/net7.0/ref/ViewModel.dll
/ViewModel/obj/Debug/net7.0/refint/ViewModel.dll
/ViewModel/obj/Debug/net7.0/ViewModel.dll
/webAPP/bin/Debug/net7.0/Models.dll
/webAPP/obj/Debug/net7.0/ref/webAPP.dll
/webAPP/obj/Debug/net7.0/webAPP.dll
/webAPP/bin/Debug/net7.0/webAPP.dll
/Repository/bin/Debug/net7.0/Models.dll
/Sportify/obj/Models.csproj.nuget.g.props
/Sportify/obj/project.assets.json
/Sportify/obj/project.nuget.cache
/webAPP/bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/webAPP/bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/webAPP/bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
/webAPP/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/Models/bin
/Models/obj
/Sportify/bin
/Sportify/obj
/webAPP/bin
/webAPP/obj
/ViewModel/bin
/ViewModel/obj
/Repository/bin
/Repository/obj
/Repository/bin/Debug/net7.0/Models.pdb
/Repository/bin/Debug/net7.0/Repository.dll
/Repository/obj/Debug/net7.0/Repository.csproj.CoreCompileInputs.cache
/Repository/obj/Debug/net7.0/Repository.dll
/Repository/obj/Repository.csproj.nuget.dgspec.json
/Sportify/bin/Debug/net7.0/Models.dll
/webAPP/bin/Debug/net7.0/webAPP.exe
/webAPP/obj/Debug/net7.0/apphost.exe
/webAPP/bin/Debug/net7.0/appsettings.json
